body {
  background-color: WhiteSmoke;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}


@media only screen and (max-width: 768px) {
  img {
    max-height: 100px;
  }
  .username {
    text-align: left;
  }
}
